.base 
{
	height: 50px;
	width: 50px;
	border: 2.5px solid #444444;
	background-color: black;
	border-radius: 10px;
	float: left;
}
.base:hover
{
	background-color: white;
}
.outer 
{
	background-color:#444444;
	border-radius: 10px;
	height: 540px;
	width: 540px;
}