body
{ 
	height: auto;
	width:980px;
	margin: 0px auto;
	background: #AAFFEE;
}
#header
{
	height: 150px;
	width: 100%;
	margin: 0; 
	padding: 0; 
}
#headimg
{
	height: 150px;
	width: 100%;
	margin: 0; 
	padding: 0; 
	
}
#fi
{
	height: 530px;
	width:55%;
	 margin: 0; 
	 padding: 0; 
	 float: left;
	 
}
#Hbar
{
	background: #000000;
	border: solid 1px black;
	height: 40px;
	width:980px;
	margin: 0; 
	 padding: 0;
	
}
li 
{
	 margin: 0; 
	 padding: 0; 
	 width: 50%;
	color: #000000;
	margin: 3px; 
	padding: 0.4em;
 	font-size: 15px;
  	height: 15px; 
  	border: solid 1px black;
}
li:hover
{
	background: yellow;
}
.addClass
{
	height: 25px;
	width: 100%;
	border-bottom: solid 1px black;
	text-align:center;
	line-height:25px;
}
.delClass
{
	height: 25px;
	width: 100%;
	border-radius: 12.5px;
	background: green;
	margin-top: 1px ; 
	padding: 0;
}
.delClass:hover
{
	background: red;
	
}
.cimg
{
	margin-left: 10px;
}
input
{
	height: 100%;
	width: 100%;
	 margin: 0; 
	 padding: 0; 
	
}
#shoppingCar
{
	border-radius: 4px;
	margin-left: 50px; 
	margin-top: 5px;
	padding: 0; 
	height: 530px;
	width: 39%;
	float: left;
}
#order_itemName
{
	margin: 0; 
	padding: 0; 
	height: 90%;
	width:45%;
	border: solid 1px black;
	float: left;
}
#order_itemNum
{
	margin: 0; 
	padding: 0; 
	height: 90%;
	width:15%;
	border: solid 1px black;
	float: left;
}
#order_itemPrice
{
	margin: 0; 
	padding: 0; 
	height: 90%;
	width:25%;
	border: solid 1px black;
	float: left;
}
#order_itemDel
{
	margin: 0; 
	padding: 0; 
	height: 90%;
	width:12%;
	border: solid 1px black;
	float: left;
}
